<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.mook.auth.terms.save.persistence.SaveTermsMapper">
	
	<select id="currentTermsNo" resultType="long">
		/** SaveTermsMapper.currentTermsNo */
		SELECT
			CURRVAL('terms_no')
		FROM
			DUAL
	</select>
	
	<select id="nextTermsNo" resultType="long">
		/** SaveTermsMapper.nextTermsNo */
		SELECT
			NEXTVAL('terms_no')
		FROM
			DUAL
	</select>
	
	<insert id="save" parameterType="TermsVo">
		/** SaveTermsMapper.save */
		INSERT INTO TERMS (
			TERMS_NO,
			USE_YN,
			REQUIRE_YN,
			ORDER_YN,
			TITLE,
			CONTENTS,
			CREATE_ID,
			CREATE_DATE
		) VALUES (
			#{termsNo},
			#{useYn},
			#{requireYn},
			#{orderNo},
			#{title},
			#{contents},
			#{createId},
			#{createDate}
		)
	</insert>
</mapper>