<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.mook.auth.terms.persistence.search.SearchTermsMapper">
	
	<select id="findByTermsNo" parameterType="long" resultType="TermsVo">
		/** SearchTermsMapper.findByTermsNo */
		SELECT
			T.TERMS_NO,
			T.USE_YN,
			T.REQUIRE_YN,
			T.ORDER_NO,
			T.TITLE,
			T.CONTENTS,
			T.CREATE_ID,
			T.CREATE_DATE,
			T.UPDATE_ID,
			T.UPDATE_DATE
		FROM
			TERMS T
		WHERE
			T.TERMS_NO = #{termsNo}
	</select>
</mapper>